<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <form action="/upload-image" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Upload</button>
      </form>
    </div>
    <div>
      <% for (let i = 0; i < files.length; i++) { %>
        <img src=<%=files[i]%> alt="" width=500 height=500>
      <% } %>
    </div>
  </body>
</html>